.lead__subtitle {
    margin: 0 auto 64px;
    width: 640px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin: 0 auto 40px;
        width: 288px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
}